/* CSS declarations go here */
body{
    background: url('https://im3.ezgif.com/tmp/ezgif-3-226a3e4f8e.gif');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    text-align: center;
}
.content,.title{
	width: 40vw;
	margin: 10px 0px 10px 0px;
}
.title{
	margin-left: 20px;
}
.content{
	height: 200px;
}
.content2{
	margin-left: 5vw;
	border: solid 3px black;
	width: 80vw;
    height: 60vh;
}
.canvas{
	width: 70vw;
	height:40vh;
	border: solid 2px black;
	background: #3498db;
}
.lf{
	display: none;
}

.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	-moz-animation: flip-scale-up-hor 0.5s linear both;
	animation: flip-scale-up-hor 0.5s linear both;
}
.mylessons{
    display: none;
    margin: 0px 10vw 0px 10vw;
    font-size: 1.4em;
}
.logo{
	color: #e74c3c;
	font-size: 10.1em;
	font-family: 'Gloria Hallelujah', cursive;
}
.create,.viewMyLessons{
	padding: 10px;
	border-radius: 5px;
	background: #3498db;
	border: #3498db;
}
.pubdate{
	background: #eee;
	font-size: 1.5em;
}
@media only screen and (max-width: 500px){
	.logo{
		font-size: 3.1em;
	}
}