/* CSS declarations go here */
body{
    background: url('https://media.giphy.com/media/l1KVaQZLhpsvclGj6/giphy.gif');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: -0.2px 0 #2c3e50, 0 0.2px #2c3e50, 0.2px 0 #2c3e50, 0 -0.2px #2c3e50;
}
.content,.title{
	width: 40vw;
	margin: 10px 0px 10px 0px;
}
.title{
	width: 90vw;
	padding: 2px;
	border: solid 1px black;
}
.content{
	height: 200px;
}
.content2{
	border-radius: 10px;
	border: solid 1px black;
	width: 80vw;
    height: 40vh;
}
.canvas{
	width: 70vw;
	height:40vh;
	border: solid 2px black;
	background: #3498db;
}
.lf{
	display: none;
}

.flip-scale-up-hor {
	-webkit-animation: flip-scale-up-hor 0.5s linear both;
	-moz-animation: flip-scale-up-hor 0.5s linear both;
	animation: flip-scale-up-hor 0.5s linear both;
}
.mylessons{
    display: none;
    margin: 0px 10vw 0px 10vw;
    font-size: 1.4em;
}
.logo{
	color: #e74c3c;
	font-size: 10.1em;
	font-family: 'Gloria Hallelujah', cursive;
	text-shadow: -1px 0 #c0392b, 0 1px #c0392b, 1px 0 #c0392b, 0 -1px #c0392b;
}
.create,.viewMyLessons{
	padding: 10px;
	border-radius: 5px;
	background: #3498db;
	border: #3498db;
}
.pubdate{
	background: #eee;
	font-size: 1.5em;
}
.submit{
	background: #e74c3c;
	border: solid 2px #e74c3c;
	border-radius: 5px;
	padding: 10px;
}
@media only screen and (max-width: 500px){
	.logo{
		font-size: 3.1em;
	}
	.submit{
		width: 100vw;
	}
}